Repository Multiwoven/helm-charts, pull requests merged in 2024-09, with the labels that each got.

#40 fix: changed workflow name
  .github/workflows/deploy-staging.yml
Labels: deploy-to-staging

#44 Feature remove acme challenge resources
  charts/multiwoven/templates/acme-challenge-deployment.yaml
  charts/multiwoven/templates/acme-challenge-service.yaml
  charts/multiwoven/templates/multiwoven-ingress.yaml
Labels: enhancement, deploy-to-staging, configuration changes, Review effort [1-5]: 3

#43 feature: added templates for horizontal pod autoscaling
  charts/multiwoven/Chart.yaml
  charts/multiwoven/templates/multiwoven-server-hpa.yaml
  charts/multiwoven/templates/multiwoven-ui-hpa.yaml
  charts/multiwoven/templates/multiwoven-worker-hpa.yaml
  charts/multiwoven/values.yaml
Labels: deploy-to-staging, Review effort [1-5]: 2
